*, *::before, *::after {
    box-sizing: border-box;
}

* {
    background-color: black;
    color: whitesmoke
}

.header-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 36px;
}

.conainer-0 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top: 5%;
    font-size: 24px;
}

form input {
    height: 40px;
    width: 200px;
    margin: 10px;
    font-size: 21px;
}

form button {
    height: 35px;
    width: 200px;
    margin: 10px;
    font-size: 18px;
}

.container-1{
    display: flex;
    border: solid white 3px;
    width: 380px;
    height: 600px;
}

.today-container {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    border: solid white 3px;
    width: 1000px;
    height: 300px;
}

.logo-img {
    height: 70px;
    width: 70px;
}

.title {
    display: flex;  
    justify-content: space-around;
}

.card {
    border: solid white 3px;
    padding-top: 0;
    
}

.small-cards {
    display: flex;
    justify-content: space-around;
    padding-top: 1.3rem;
    border: solid white 3px;
    width: 1000px;
    height: 300px;
} 

.small-card {
    border: solid white 3px;
    width: 150px;
    height: 250px;
    text-align: center;
    
}

.weather-icon2 {
    scale: 70%;
    padding: 0;
}

ul {
    text-align: left; 
}

li {
    display: flex;
}
